body {
    margin: 0;
    padding: 0;
}

div.playerContainer {
    float: left;
    width: 225px;
    height: 800px;
    padding-top: 100px;
}

.dropdown {
    padding-left: 25px;
    padding-top: 25px;
}