<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/lightslider.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/court.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src= "{{ url_for('static', filename='js/lightslider.js')}}"></script>
    <script src= "{{ url_for('static', filename='js/kinetic_v5.1.0/kinetic_v5.1.0.min.js')}}"></script>
    <script src= "{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Team
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    {% for id, name in names.items() %}
      <li><a href="{{ url_for('team', team_id = id) }}">{{name}}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="playerContainer demo">
    <ul id="lightSlider">
        {% for img, id in team_images.items() %}
            <a href= "{{ url_for('team_loaded', team_id = team_id, player_id = id) }}">
                <li data-thumb= {{img}}>
                    <img src= "{{ url_for('static', filename='images/{}'.format(img))}}" />
                </li>
            </a>
        {% endfor %}
    </ul>
</div>

<div id="container">
    <script src= "{{ url_for('static', filename='js/draw_court.js')}}"></script>
    <script>
        var result = addPlayerShots({{ playerShots | tojson }});
    </script>

    </div>


</html>