<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/lightslider.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/court.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src= "{{ url_for('static', filename='js/lightslider.js')}}"></script>
    <script src= "{{ url_for('static', filename='js/kinetic_v5.1.0/kinetic_v5.1.0.min.js')}}"></script>
    <script src= "{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>

<div class="topContainer">
    <table id="playerInfoTable" class="table">
    <tbody>
      <tr>
        <td>
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Select Team
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for id, name in names.items() %}
                <li><a href="{{ url_for('team', team_id = id) }}">{{name}}</a></li>
                {% endfor %}
            </ul>
        </td>
          <!--TODO: make table/row creation dynamic, pass in json and loop through in js to create-->
        <td id="playerName" class="playerInfo">Name: </td>
        <td id="shotsMade" class="shotsInfo">Shots Made: </td>
        <td id="fgPercent" class="fgPercent">FG%: </td>
        <td id="clutchTime" class="clutchTime">Clutch Time</td>
      </tr>
      <tr>
        <td></td>
        <td id="playerTeam" class="playerInfo">Team: </td>
        <td id="shotsAttempted" class="shotsInfo">Shots Attempted: </td>
        <td id="effFgPercent" class="fgPercent">eFG%: </td>
        <td></td>
      </tr>
    </tbody>
    </table>
</div>

<div class="playerContainer">
    <ul id="lightSlider">
        {% for img, id in team_images.items() %}
            <a href= "{{ url_for('team_loaded', team_id = team_id, player_id = id) }}">
                <li data-thumb= {{img}}>
                    <img src= "{{ url_for('static', filename='images/{}'.format(img))}}" />
                </li>
            </a>
        {% endfor %}
    </ul>
</div>


<div id="container">
    <script src= "{{ url_for('static', filename='js/draw_court.js')}}"></script>
    <script>
        var result = addPlayerShots({{ playerShots | tojson }});
        var playerInfo = getPlayerInfo({{ playerShots | tojson }});
        injectPlayerInfo(playerInfo);
    </script>
</div>


</html>